.g-ext-text-wrap{
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
}
._g-profile-image{
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
.g-ext-flex-1{
    flex: 1;
}
.g-ext-bold{
    font-weight: bold;
}
.g-ext-profile-space-holder{
    display: inline-block;
    width: 72px;
}
.g-ext-separator{
    color: #dedbdb;
    padding: 0px 4px;
    display: inline-block;
    font-size: 14px;
    font-weight: bolder;
}
.g-ext-activity-body{
    padding-left: 22px;
    border-top: 1px solid #e0e0e0;
    width: 100%;
    max-width: 100%;
    .g-ext-note-content{
        overflow: auto;
        text-overflow: ellipsis;
        word-wrap: break-word;
        p, span{
            white-space: normal;
        }
    }
}
.g-ext-body-container{
    height: 100%;
    overflow: auto;
    background-color: #f2f2f2;
    .g-ext-emptydata{
        width: 400px;
        margin: 0 auto;
        text-align: center;
        >img{
            display: inline-block;
            height: 159px;
            margin-bottom: 20px;
            -webkit-user-drag: none;
            background-color: #888882;
            border-radius: 50%;
            padding: 35px;
            &.g-ext-draft-img{
                content: url("./images/ic_drafts_white_36px.svg");
            }
            &.g-ext-activity-img{
                content: url("./images/ic_inbox_white_36px.svg");
            }
        }
        .g-ext-data-header{
            font-size: 200%;
            margin-bottom: 10px;
            color: #888;
        }
        .g-ext-data-subheader{
            font-size: 120%;
            color: #888;
        }
    }
    .g-ext-body-wrapper{
        width: 100%;
        min-width: 512px;
        padding: 56px 0 1px;
        .g-ext-data-nesting{
            border-bottom: 1px solid transparent;
            color: #616161;
            line-height: 24px;
            margin: 20px 0 8px;
            padding: 0 24px;
            align-items: center;
            -webkit-align-items: center;
            display: -webkit-flex;
            display: flex;
            will-change: transform,-webkit-transform;
            > div{
                margin-right: 48px;
                -webkit-flex: 1;
                flex: 1;
            }
        }
        .g-ext-data-list{
            margin: 0;
            padding: 20px;
            margin-bottom: 20px;
            .g-ext-list-item{
                will-change: transform,-webkit-transform;
                margin: 0;
                outline: none;
                position: relative;
                cursor: pointer;
                &:hover{
                    .g-ext-list-item-actions{
                        display: block;
                    }
                }
                &[data-view-mode='full-mode']{
                    outline: 2px solid transparent;
                    .g-ext-list-item-fullmode{
                        margin-bottom: 50px;
                        margin-top: 50px;
                        position: relative;
                        .g-ext-highlight{
                            bottom: 0;
                            box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
                            left: 0;
                            position: absolute;
                            right: 0;
                            top: 0;
                            pointer-events: none;
                            border-bottom: 1px solid rgba(255,255,255,0.01);
                        }
                        .g-ext-heading{
                            .g-ext-heading-wrapper{
                                box-sizing: border-box;
                                position: relative;
                                width: 100%;
                                will-change: top,left;
                                padding: 16px 20px 16px 0px;
                                display: flex;
                                .g-ext-item-center{
                                    width: auto;
                                }
                                .g-ext-list-item-actions{
                                    display: block;
                                }
                            }
                        }
                    }
                }
                .g-ext-list-item-wrapper{
                    background: #fff;
                    line-height: 20px;
                    padding: 6px 0;
                    position: relative;
                    .g-ext-content{
                        color: #212121;
                        meta{
                            font-size: 13px;
                            display: inline-block;
                        }
                    }
                    &:before{
                        bottom: 0;
                        box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
                        content: '';
                        display: block;
                        left: 0;
                        pointer-events: none;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                    .g-ext-list-body{
                        margin: 6px 0;
                        position: relative;
                        > div{
                            display: -webkit-flex;
                            display: flex;
                            margin: 4px 0px 0px 0px;
                        }
                        .g-ext-contexts-group{
                            >li{
                                display: inline-block;
                                span{
                                    color: #015ba7;
                                }
                                &:after{
                                    content: '>';
                                    margin: 0px 10px;
                                    color: grey;
                                }
                                &:last-child:after{
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .g-ext-item-left{
                    height: 28px;
                    margin: -4px 0;
                    position: relative;
                    width: 72px;
                    align-items: center;
                    -webkit-align-items: center;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-user-select: none;
                    -webkit-user-drag: none;
                    img{
                        @extend ._g-profile-image;
                    }
                }
                .g-ext-item-center{
                    display: flex;
                    width: 184px;
                    @extend .g-ext-text-wrap;
                }
                .g-ext-item-right{
                    margin: 0 24px 0 8px;
                    min-width: 0;
                    width: 0;
                    word-wrap: break-word;
                    -webkit-flex: 1;
                    flex: 1;
                    display: flex;
                }
                .g-ext-list-item-actions{
                    display: none;
                    .g-ext-list-item-action{
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 24px;
                        height: 24px;
                        width: 24px;
                        -webkit-user-select: none;
                        -webkit-user-drag: none;
                        margin-left: 8px;
                        cursor: pointer;
                        opacity: 0.6;
                        vertical-align: middle;
                        margin: -2px 0;
                        &:hover{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}