.g-ext-nav-container{
    .g-ext-w175{
        min-width: 175px;
    }
    .g-ext-w25{
        min-width: 25px;
    }
    .g-ext-nav-header{
        -webkit-transition: background .15s;
        transition: background .15s;
        will-change: top,left;
        box-sizing: border-box;
        height: 56px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 22;
        display: flex;
        img{
            background-position: center;
            background-repeat: no-repeat;
            background-size: 24px;
            height: 24px;
            width: 24px;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            cursor: pointer;
        }
        .g-ext-loading{
            width: 0px;
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: 2px;
            background-color: red;
        }
        &[role='Drafts']{
            background: #898984;
        }
        &[role='Activities']{
            background: #4285f4;
        }
        &:before{
            will-change: top,left;
            box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
            content: "";
            height: 56px;
            left: -2%;
            position: fixed;
            width: 104%;
        }
        .g-ext-timeline-nav{
            opacity: 1;
            border-width: 1px;
            cursor: pointer;
            font-size: 1.5em;
            height: 100%;
            position: absolute;
            display: -webkit-flex;
            display: flex;
            .g-ext-toggle-menu{
                opacity: 0.75;
                padding: 16px 24px;
                -webkit-user-select: none;
                -webkit-user-drag: none;
                background-size: 24px 24px;
                height: 24px;
                width: 24px;
                background-color: transparent;
                background-repeat: no-repeat;
                border: none;
                box-sizing: content-box;
                position: relative;
                &:before{
                    background-size: 24px 24px;
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    top: -4px;
                    left: -4px;
                    bottom: -4px;
                    right: -4px;
                    margin: auto;
                    padding: 4px;
                    position: absolute;
                    content: ' ';
                }
            }
            .g-ext-active-selection{
                color: #fff;
                margin: auto 0;
                position: relative;
                -webkit-flex: 1;
                flex: 1;
                -webkit-font-smoothing: antialiased;
                &:before{
                    border-radius: 2px;
                    bottom: -4px;
                    content: ' ';
                    left: -4px;
                    margin: auto;
                    position: absolute;
                    right: -4px;
                    top: -4px;
                    z-index: -1;
                }
            }
        }
        .g-ext-timeline-nav-2{
            box-sizing: border-box;
            margin: auto 0;
            width: 100%;
            display: -webkit-flex;
            display: flex;
            .g-ext-search-wrapper{
                box-sizing: border-box;
                height: 36px;
                z-index: 1;
                display: -webkit-flex;
                display: flex;
                position: relative;
                flex: 1;
                .g-ext-searchbar-holder{
                    border-radius: 2px;
                    min-width: 144px;
                    position: relative;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex: 1;
                    flex: 1;
                    background: rgba(255,255,255,.15);
                    .g-ext-search-image-holder{
                        display: inline-block;
                        height: 36px;
                        position: relative;
                        width: 72px;
                        img{
                            -webkit-transform: scale(1);
                            transform: scale(1);
                            opacity: 1;
                            height: 24px;
                            left: 24px;
                            position: absolute;
                            top: 6px;
                            width: 24px;
                            -webkit-transition: -webkit-transform .15s linear;
                            transition: transform .15s linear;
                        }
                    }
                    .g-ext-search-input-holder{
                        position: relative;
                        -webkit-flex: 1;
                        flex: 1;
                        input{
                            background: none;
                            border: none;
                            box-sizing: border-box;
                            color: #fff;
                            display: block;
                            font-size: 1.2em;
                            height: 36px;
                            padding-right: 10px;
                            position: absolute;
                            width: 100%;
                            &::placeholder {
                                color: #fff;
                                opacity: 1;
                                -webkit-font-smoothing: antialiased;
                                font-style: unset;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
        .g-ext-timeline-nav-3{
            box-sizing: border-box;
            margin: auto 0;
            width: 50px;
            .g-ext-close-icon-wrapper{
                box-sizing: border-box;
                height: 36px;
                z-index: 1;
                position: relative;
                .g-ext-close-icon{
                    content: url("./images/close_white_24px.svg");
                }
            }
        }
    }
}